



<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en"> <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
 
<script>
    if (navigator.userAgent.match(/Android/i)) {
        var viewport = document.querySelector("meta[name=viewport]");
        viewport.setAttribute('content', 'initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width,height=device-height');
    }
	if(navigator.userAgent.match(/Android/i)){
    window.scrollTo(0,1);
 }
</script>
<meta name="apple-mobile-web-app-capable" content="yes"/>


<link href="https://s3.amazonaws.com/assets_us/petstuff/css/normalize.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="all"/>
<link href="http://livedemo00.template-help.com/prestashop_44772/themes/theme681/css/font.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/global.css" rel="stylesheet" type="text/css" media="all"/>


<link href="https://s3.amazonaws.com/assets_us/petstuff/css/product.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/blockbestsellers.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all"/> 
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/product_list.css" rel="stylesheet" type="text/css" media="all"/>
 

<link href="https://s3.amazonaws.com/assets_us/petstuff/css/customcontent.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/addhomefeatured.css" rel="stylesheet" type="text/css" media="all"/>
 
 

<link href="https://s3.amazonaws.com/assets_us/petstuff/css/sendtoafriend.css" rel="stylesheet" type="text/css" media="all"/>
 

<link href="https://s3.amazonaws.com/assets_us/petstuff/css/nivo-slider.css" rel="stylesheet" type="text/css" media="all"/>


<link href="https://s3.amazonaws.com/assets_us/petstuff/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/superfish-modified.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/320.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/480.css" rel="stylesheet" type="text/css" media="all"/>
<link href="https://s3.amazonaws.com/assets_us/petstuff/css/768.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.easing.js"></script>


<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/tools.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.fancybox.js"></script> 

<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/favoriteproducts.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/treeManagement.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.serialScroll.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/crossselling.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/carriercompare.js"></script>

<script type="text/javascript" src="https://s3.amazonaws.com/assets_us/petstuff/js/superfish-modified.js"></script>


<script src="https://s3.amazonaws.com/assets_us/petstuff/js/bootstrap.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/plugins.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/footable.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.core-ui-select.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.scrollpane.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.uniform.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/jquery.mousewheel.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/mainscript.js"></script>
<script src="https://s3.amazonaws.com/assets_us/petstuff/js/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript" src="http://conekta.github.io/static-website-ecommerce-template/javascripts/conekta.js"></script>

    <script src="carrito.js"></script>


<script src="https://s3.amazonaws.com/conekta/js/jquery.carouFredSel-6.2.1.js"></script>
<script src="https://s3.amazonaws.com/conekta/js/jquery.touchSwipe.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'/>
 
     
<style>

@media (min-width: 1200px){ 
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}
}
</style>

</head>
<!--[if lt IE 9]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
    
    
<body id="index" class="  ">
<div id="wrapp">
<div id="wrapp_2">
<header id="header" class="container ">
<div id="header-inner">
<a id="header_logo" title="Infant">
<img class="logo" src="https://s3.amazonaws.com/conekta/images/logo.png" style="height: 120px;" alt="Infant" />
</a>
 
<section style="display:none;" id="languages_block_top" class="header-box header-button">
<div id="countries_2">
<p class="selected_language">
en
<span class="arrow_header_top"></span>
</p>

 
</div>
</section>
<script type="text/javascript">
$(document).ready(function(){
$('#countries_2 .countries_ul li span').each(function() {
	var h = $(this).html();
	var index = h.indexOf(' ');
		if(index == -1) {
			index = h.length;
		}
	$(this).html('<span class="firstWord">'+ h.substring(index, h.length) + '</span>' + h.substring(0, index));
});
}); 
</script>
 
 
<section style="display:none;" id="currencies_block_top" class="header-box header-button">
<form id="setCurrency" action="/prestashop_44772/" method="post">
<p class="inner-carrencies">
<input type="hidden" name="id_currency" id="id_currency" value=""/>
<input type="hidden" name="SubmitCurrency" value=""/>
$<span class="arrow_header_top"></span>
</p>
<ul id="first-currencies" class="currencies_ul list_header">
<li class="selected">
<span>$</span>Dollar
</li>
<li>
<a href="javascript:setCurrency(2);" title="Euro"><span>€</span>Euro</a>
</li>
</ul>
</form>
</section>
 
 
<section class="header-box blockpermanentlinks-header">
<ul id="header_links">

<li id="header_link_contact"><a href="/contacto" title="contact">Contacto</a></li>

 
</ul>
<div class="mobile-link-top header-button">
<h4>
<span class="title-hed"></span><span class="arrow_header_top_menu arrow_header_top"></span>
</h4>
<ul id="mobilelink" class="list_header">
<li><a href="" class="header_links_home">home</a></li>
<li id="header_link_contact"><a href="" title="contact">contact</a></li>


</ul>
</div>
</section>
 
 
 
<section id="search_block_top" class="header-box">
<form method="get" action="" id="searchbox" >
<p>
<label for="search_query_top">Search</label>
<input class="search_query" type="text" id="search_query_top" name="query" value=""/>
<a href="javascript:document.getElementById('searchbox').submit();"></a>
</p>
</form>
</section>
<script type="text/javascript">
	// <![CDATA[
		function tryToCloseInstantSearch() {
			if ($('#old_center_column').length > 0)
			{
				$('#center_column').remove();
				$('#old_center_column').attr('id', 'center_column');
				$('#center_column').show();
$('#old_center_column').next().removeClass('span12').addClass('span9');
				return false;
			}
		}
		
		instantSearchQueries = new Array();
		function stopInstantSearchQueries(){
			for(i=0;i<instantSearchQueries.length;i++) {
				instantSearchQueries[i].abort();
			}
			instantSearchQueries = new Array();
		}
		
		$("#search_query_top").keyup(function(){
			$('#old_center_column').next().removeClass('span12').addClass('span9');
			if($(this).val().length > 0){
				stopInstantSearchQueries();
				instantSearchQuery = $.ajax({
					url: 'http://livedemo00.template-help.com/prestashop_44772/index.php?controller=search',
					data: {
						instantSearch: 1,
						id_lang: 1,
						q: $(this).val()
					},
					dataType: 'html',
					type: 'POST',
					success: function(data){
						if($("#search_query_top").val().length > 0)
						{
							tryToCloseInstantSearch();
							$('#center_column').attr('id', 'old_center_column');
							$('#old_center_column').after('<div id="center_column" class="instant ' + $('#old_center_column').attr('class') + '">'+data+'</div>');
							$('#old_center_column').next().removeClass('span12').addClass('span9');
							$('#old_center_column').hide();
							$("#instant_search_results a.close").click(function() {
								$("#search_query_top").val('');
								return tryToCloseInstantSearch();
							});
							return false;
						}
						else
							tryToCloseInstantSearch();
					}
				});
				instantSearchQueries.push(instantSearchQuery);
			}
			else
				tryToCloseInstantSearch();
		});
	// ]]>
	</script>

 
 
<section class="blockuserinfo header-box">
<a title="Entrar" href="/consumer_admin" class="login" rel="tooltip" data-placement="bottom" data-original-title="first tooltip"> Entrar</a>
</section>
<section id="header_user" class="blockuserinfo-cart header-box">
<div id="shopping_cart">
<a class="shopping-cart" title="View my shopping cart" rel="nofollow">
<strong class="opancart"></strong>
<span class="shopping_cart_title"></span>
<span class="ajax_cart_quantity simpleCart_quantity"> </span> 
<span class="ajax_cart_no_product hidden">0</span>
</a>
</div>
</section><div id="menu-wrap" class="clearfix">
<div id="menu-trigger">Categories<span class="menu-icon"></span></div>
<ul id="menu-custom">

    

                        <li><a class="category-navigation-links" href="categories.html#name=Ropa"> Ropa </a></li>
    <li><a class="category-navigation-links" href="categories.html#name=Juguetes"> Juguetes </a></li>
    <li><a class="category-navigation-links" href="categories.html#name=Alimentación"> Alimentación </a></li>

    

 
</ul>
</div>

 
<section id="cart_block" class="block column_box exclusive">
<h4><span>Cart</span><span class="column_icon_toggle"></span></h4>
<div class="block_content toggle_content">
 
<div id="cart_block_summary" class="collapsed">
<span class="ajax_cart_quantity simpleCart_quantity"></span>
<span class="ajax_cart_product_txt_s">Products</span>
<span class="ajax_cart_product_txt" style="display:none">Product</span>
<span class="ajax_cart_total simpleCart_total">
</span>
<span class="ajax_cart_no_product" style="display:none">(empty)</span>
</div>
 
<div id="cart_block_list" class="expanded">
<dl class="products clearfix">
 
 
 
</dl>
<p class="hidden no_products" id="cart_block_no_products">No products</p>
<table id="vouchers" style="display:none;">
<tbody>
</tbody>
</table>
<div class="cart-prices">
<div class="cart-prices-block">
<span id="cart_block_shipping_cost" class="price ajax_cart_shipping_cost"> </span>
<span>Envío</span>
</div>
<div class="cart-prices-block">
<span id="cart_block_total" class="price ajax_block_cart_total"> </span>
<span>Total</span>
</div>
</div>
<p id="cart-buttons" class="">
<a class="button_mini" title="View my shopping cart" rel="nofollow">Cart</a> <a id="button_order_cart" class="exclusive" title="Checkout" rel="nofollow">Checkout</a>
</p>
</div>
</div>
</section>
 
</div>
</header>
<div class="extra_wrapp">
<div id="columns" class="container ">
<div class="row ">
<div class="loader_page">
<aside id="left_column" class="span3 column" style=" display:none">
</aside>
   
   
  
    
    
    <div id="center_column" class="center_column span9 clearfix simpleCart_shelfItem">
        
        
            <div class="breadcrumb">
                <div class="breadcrumb_inset">
                    <a class="breadcrumb-home" href="/" title="" rel="tooltip" data-original-title="Return to Home"><i class="icon-home"></i></a>
                    <span class="navigation-pipe">&gt;</span>
                    
                                       
                    <span class="product-name">
                    </span>
                </div>
            </div>
            
            <div id="primary_block" class="clearfix">
                
                <div class="row">
                    <div id="pb-right-column" class="span4">
                        <h1 class="pb-right-colum-h product-name">   </h1>
                        
                        <div id="image-block">
                            <span id="view_full_size">
                                <div id="wrap" style="top:0px;z-index:auto;position:relative;">
                                    <a id="zoom1" rel="position: 'inside' , showTitle: false, adjustX:0, adjustY:0" class="cloud-zoom" style="position: relative; display: block;">
                                        
                                        <img id="mousetrap_img" class="product-image" width="106" height="106" src="" rel="" style="display: block;">
                                            
                                            <img id="bigpic" class="product-image" src="" rel="" style="display: block;"><span class="mask"></span>
                                                
                                    </a><div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:106px;height:106px;left:0px;top:0px;"></div></div>
                            </span>
                        </div>
                        
                        <div id="views_block" class=" ">
                            <a id="view_scroll_left" title="Other views" href="javascript:{}" style="cursor: default; opacity: 0; display: none;">Previous</a> <div id="thumbs_list">
                                <ul id="thumbs_list_frame" style="width: 570px;">
                                    
                            
                                    
                                </ul>
                            </div>
                            <a id="view_scroll_right" title="Other views" href="javascript:{}" style="cursor: pointer; opacity: 1; display: block;">Next</a> </div>
                        <p class="resetimg">
                        <span id="wrapResetImages" style="display: none;">
                            <i class="icon-reply"></i>
                            <a id="resetImages" href="http://livedemo00.template-help.com/prestashop_44772/index.php?id_product=1&amp;controller=product&amp;id_lang=1" onclick="$('span#wrapResetImages').hide('slow');return (false);">Display all pictures</a></span></p>
                        <ul id="usefull_link_block" class="clearfix">
                           <script text="javascript">
                                
                                $('document').ready(function(){
                                                    
                                                    $("body").attr("id", "");
                                                                                    });
                                
                                </script>
                            <li class="sendtofriend">
                                
                                
                            </li>
                            <div style="display: none;">
                                <div id="send_friend_form">
                                    <h1 class="title clearfix">Send to a friend</h1>
                                    <div class="row-fluid">
                                        <div class="span6 titled_box">
                                            <h2 class="product_name"><span class="product-name">
                                                 
                                            </span></h2>
                                            <div class="product clearfix">
                                                <img src="http://livedemo00.template-help.com/prestashop_44772/img/p/1/1-small_default.jpg" alt="Perfect - Pinch Cheek &amp; Scarlet">
                                                    <div class="product_desc product-description">
                                                        
                                                        
                                                        
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="send_friend_form_content">
                                                <div id="send_friend_form_error"></div>
                                                <div class="form_container titled_box">
                                                    <h2 class="intro_form "><span>Recipient :</span></h2>
                                                    <p class="text">
                                                    <label for="friend_name">Name of your friend <sup class="required">*</sup> :</label>
                                                    <input id="friend_name" name="friend_name" type="text" value="">
                                                        </p>
                                                        <p class="text">
                                                        <label for="friend_email">E-mail address of your friend <sup class="required">*</sup> :</label>
                                                        <input id="friend_email" name="friend_email" type="text" value="">
                                                            </p>
                                                            <p class="txt_required"><sup class="required">*</sup> Required fields</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="submit sendfrend_footer">
                                    <input id="id_product_comment_send" name="id_product" type="hidden" value="1">
                                        <button class="btn btn-inverse" onclick="$.fancybox.close();">Cancel</button>
                                        <button id="sendEmail" class="btn btn-inverse" name="sendEmail" type="submit">Send</button>
                                        
                                        </p>
                                </div>
                            </div>
                            
                            
                        </ul>
                    </div>
                    
                    <div id="pb-left-column" class="span5">
                        <h1 class="product-name">
                        </h1>
                        <div id="short_description_block">
                            <div id="short_description_content" class="rte align_justify">
                                
                            </div>
                            
                        </div>
                        
                        <form id="buy_block" >
                            
                            <p class="hidden">
                            </p>
                            <div class="product_attributes">
                                <div class="row-3">
                                    
                                    <p id="availability_statut" style="display: none;">
                                    <span id="availability_label">Availability:</span>
                                    <span id="availability_value">
                                    </span>
                                    </p>
                                    
                                    <p id="pQuantityAvailable">
                                    <span id="quantityAvailable"></span>
                                    <span style="display: none;" id="quantityAvailableTxt">item in stock</span>
                                    <span id="quantityAvailableTxtMultiple" style="display:none;">items in stock</span>
                                    
                                    </p>
                                    <p class="warning_inline" id="last_quantities" style="display: none">Warning: Last items in stock!</p>
                                    <p id="product_reference" style="display: none;">
                                    <label for="product_reference">Reference: </label>
                                    <span class="editable"></span>
                                    </p>
                                </div>
                                
                                <p id="minimal_quantity_wanted_p" style="display: none;">
                                This product is not sold individually. You must select at least <b id="minimal_quantity_label">1</b> quantity for this product.
                                </p>
                                <p class="warning_inline" id="last_quantities" style="display: none">Warning: Last items in stock!</p>
                            </div>
                            <div class="content_prices clearfix">
                                
                                <div class="row-2" style="display:none;">
                                    <p id="reduction_percent" style="display:none;"><span id="reduction_percent_display" class="price"></span></p>
                                    <p id="reduction_amount" style="display:none"><span id="reduction_amount_display" class="price"></span></p>
                                </div>
                                <div class="row_1">
                                    <p class="our_price_display">
                                    <span id="our_price_display" class="product-price"> </span>
                                    </p>
                                    <p id="add_to_cart" class="buttons_bottom_block">
                                    <a class="exclusive button item_straight_add btn_add_cart " > <span>Agregar al Carrito </span></a>
                                    </p>
                                    
                                    <p id="quantity_wanted_p">
                                    <input type="text" name="qty" id="quantity_wanted" class="text" value="1" size="2" maxlength="3">
                                        <label>Cantidad:</label>
                                        </p>
                                </div>
                                <div class="other-prices">
                                </div>
                            </div>
                            
                            <p id="oosHook" style="display: none;">
                            <script type="text/javascript">
                                $(function(){
                                  $('a[href=#idTab5]').click(function(){
                                                             $('*[id^="idTab"]').addClass('block_hidden_only_for_screen');
                                                             $('div#idTab5').removeClass('block_hidden_only_for_screen');
                                                             
                                                             $('ul#more_info_tabs a[href^="#idTab"]').removeClass('selected');
                                                             $('a[href="#idTab5"]').addClass('selected');
                                                             });
                                  });
                                </script>
                            </p><div id="product_comments_block_extra">
                                <div class="comments_advices">
                                </div>
                            </div>
                            
                            <p></p>
                        </form>
                        
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
            <div class="extra-box-product">
                <!--
                <section class="page_product_box blockproductscategory">
                    <h3>
                        
                        Productos Relacionados 
                        
                        <span class="icon-toggle"></span></h3>
                    <div id="block-category-slider" class="carusel-inner responsive  toggle_content">
                        <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 888px; height: 175px; margin: 0px; overflow: hidden;"><ul id="carouselproduct" class="carousel-ul" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 6512px; height: 175px; z-index: auto;">
                            
                            
                            {% if collections.related_products.size > 0 %}
                            {% for related_product in collections.related_products %}
                            <li class="item" style="width: 128px;">
                                <a class="lnk_img" href="{{ related_product.url }}" title="{{ related_product.title }}"><img src="{{ related_product.featured_image.src | product_img_url: "three_col" }}" alt="{{ related_product.title }}"></a>
                                <a class="product_link" href="/{{ related_product.url }}" title="Lovely - Parma Violet"> {{ related_product.title }} </a>
                            </li>
                            {% endfor %}
                            {% endif %}	
                            
                        </ul></div>
                        <a class="prev" id="cat_prev" href="#" style="display: inline;"></a>
                        <a class="next" id="cat_next" href="#" style="display: inline;"></a>
                    </div>
                </section>
                -->
                <script type="text/javascript">
                    $("#carouselproduct").carouFredSel({
                                                       debug: true,
                                                       circular: true,
                                                       infinite: true,
                                                       responsive: true,
                                                       align   : "center",
                                                       width: '100%',
                                                       auto	: {
                                                       play	: 1,
                                                       timeoutDuration :15000
                                                       },
                                                       
                                                       items	: {
                                                       
                                                       visible: {
                                                       min: 2,
                                                       max: 6
                                                       },
                                                       width:167,
                                                       
                                                       },		
                                                       scroll	: {
                                                       items	: 1,
                                                       pauseOnHover:false
                                                       },
                                                       prev	: {
                                                       button	: "#cat_prev"
                                                       },
                                                       next	: {
                                                       button	: "#cat_next"
                                                       },
                                                       swipe: {
                                                       onMouse: false,
                                                       onTouch: true
                                                       }
                                                       }, 
                                                       {
                                                       classnames		: {
                                                       selected		: "selected",
                                                       hidden			: "hidden",
                                                       disabled		: "disabled",
                                                       paused			: "paused",
                                                       stopped			: "stopped"
                                                       },
                                                       
                                                       });
                    </script>
                <script type="text/javascript">
                    $("#carouselproductcross").carouFredSel({
                                                            debug: true,
                                                            circular: true,
                                                            infinite: true,
                                                            responsive: true,
                                                            align   : "center",
                                                            width: '100%',
                                                            auto	: {
                                                            play	: 1,
                                                            timeoutDuration :20000
                                                            },
                                                            
                                                            items	: {
                                                            
                                                            visible: {
                                                            min: 2,
                                                            max: 6
                                                            },
                                                            width:167,
                                                            
                                                            },		
                                                            scroll	: {
                                                            items	: 1,
                                                            pauseOnHover:false
                                                            },
                                                            prev	: {
                                                            button	: "#cross_prev"
                                                            },
                                                            next	: {
                                                            button	: "#cross_next"
                                                            },
                                                            swipe: {
                                                            onMouse: true,
                                                            onTouch: true
                                                            }
                                                            });
                    </script>
                <section class="page_product_box toggle_frame more_info_inner">
                    <h3 class="toggle"> Más información<span class="icon-toggle"></span></h3>
                    <div class="toggle_content">
                        <p class="product-description">
                        
                        </p></div>
                </section>
                <!--
                <section class="page_product_box toggle_frame datasheet">
                    <h3 class="toggle">
                        Especificaciones
                        <span class="icon-toggle"></span></h3>
                    <div class="toggle_content">
                        <ul class="bullet">
                            {% for spec in product.specs  %}  
                            
                            <li> {{ spec[0] }} : <a  href="{{ spec[1].url }}"> {{ spec[1].value }}</a></li>
                            
                            {% endfor %}
                            
                        </ul>
                        
                        
                    </div>
                </section>
                -->
               
                <!--
                <section id="last_page_product" class="page_product_box toggle_frame">
                    <h3 href="#idTab5" class="idTabHrefShort">Comentarios<span class="icon-toggle"></span></h3>
                    <div id="more_info_sheets" class="toggle_content toggle_content_comment">
                        <div id="idTab5">
                            <div id="product_comments_block_tab">
                                <p class="align_center">
                                <a id="new_comment_tab_btn" class="open-comment-form" href="#new_comment_form"> </a>
                                </p>
                                <div id="disqus_thread"></div>
                             
                                
                                
                                
                            </div>
                        </div>
                        
                        <div style="display: none;">
                            <div id="new_comment_form">
                                <form action="#">
                                    <h1 class="title"><span>Write your review</span></h1>
                                    <div class="row-fluid">
                                        <div class="span6 titled_box">
                                            <div class="product clearfix">
                                                <h2 class="product_name"><span>Perfect - Pinch Cheek &amp; Scarlet</span></h2>
                                                <img src="http://livedemo00.template-help.com/prestashop_44772/img/p/1/1-small_default.jpg" alt="Perfect - Pinch Cheek &amp; Scarlet">
                                                    <div class="product_desc">
                                                        Times change and bring these changes in all spheres of life. Fashion seems to be, perhaps, one of the most changeable phenomenons of all times. It reflects the changes in society and turns them into modern trends. The more trends appear, the more alterations in the society life take place. Today you can find whatever clothes you like and even those that seem too futuristic.
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="span6 titled_box">
                                            <div class="new_comment_form_content">
                                                <h2><span>Write your review</span></h2>
                                                <div id="new_comment_form_error" class="error" style="display: none;">
                                                    <ul></ul>
                                                </div>
                                                <ul id="criterions_list">
                                                    <li>
                                                        <label>Quality:</label>
                                                        <div class="star_content">
                                                            <input type="hidden" name="criterion[1]" value="3"><div class="cancel"><a title="Cancel Rating"></a></div><div class="star star_on"><a title="1">1</a></div>
                                                                <div class="star star_on"><a title="2">2</a></div>
                                                                <div class="star star_on"><a title="3">3</a></div>
                                                                <div class="star"><a title="4">4</a></div>
                                                                <div class="star"><a title="5">5</a></div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </ul>
                                                <label for="comment_title">Title: <sup class="required">*</sup></label>
                                                <input id="comment_title" name="title" type="text" value="">
                                                    <label for="content">Comentarios: <sup class="required">*</sup></label>
                                                    <textarea id="content" name="content"></textarea>
                                                    <label>Your name: <sup class="required">*</sup></label>
                                                    <input id="commentCustomerName" name="customer_name" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="new_comment_form_footer" class=" sendfrend_footer">
                                        <input id="id_product_comment_send" name="id_product" type="hidden" value="1">
                                            <p class="fl required"><sup>*</sup> Required fields</p>
                                            <p class="fr ">
                                            <button id="submitNewMessage" class="btn btn-inverse" name="submitMessage" type="submit">Send</button>
                                            <input class="btn btn-inverse" type="button" value="Cancel" onclick="$.fancybox.close();">
                                                </p>
                                                <div class="clearfix"></div>
                                    </div>
                                </form> 
                            </div>
                        </div>
                        
                    </div>
                </section>
                -->
                
            </div>
    </div>
    
    
<!--- center -->
    
    
    
    
    
    
 
<aside id="right_column" class="span3 column right_home">

 
<section id="new-products_block_right" class="block products_block column_box" style="display:none;">
<h4 class="title_block"><span>
Nuevos Productos
</span> <span class="column_icon_toggle"></span></h4>
<div class="block_content toggle_content">
<ul class="products">

{% if collections.new_products.size > 0 %}
{% for new_product in collections.new_products %}
<li class="shop_box clearfix first_item">
<a class="products_block_img" href="/{{ new_product.url }}" title=""><img src="{{ new_product.featured_image.src | product_img_url: "three_col" }}" alt=""/></a>
<div>
<h5 class="s_title_block">
<a class="product_link" href="/{{ new_product.url }}" title="{{ product.title }}">
{{ new_product.title }}</a>
</h5>
<p class="product_desc">
</p>
<a href="/{{ new_product.url }}" class="lnk_more">
Ver más
</a>
</div>
</li>
{% endfor %}
{% endif %}

</ul>


</div>
</section>
 
 
<section class="block blockcms column_box">
<h4><span>Información
</span><span class="column_icon_toggle"></span></h4>
<ul class="store_list toggle_content clearfix">

               
              <li><a class="other-page-links" href="http://conekta.mx/contactanos">
                  <i class="icon-ok"></i> Contacto </a></li>
                  <li><a class="other-page-links" href="http://conekta.mx/api">
                  <i class="icon-ok"></i> Docs </a></li>

</ul>
</section> 

<section id="contact_block" class="block column_box">
<h4 class="title_block"><span>

Contactanos
</span><span class="column_icon_toggle"></span></h4>
<div class="block_content clearfix toggle_content">
<h5>
Aquí podemos ayudarte</h5>
<p class="tel"><span class="label"> Teléfono:</span>  (55) 6379 4965 </p> <a class="button" href="mailto:http://conekta.mx/contactanos">

Contactanos para cotizaciones y Pedidos

</a> </div>
</section>

 

 

 
 
</aside>
</div>
</div>
</div>
<div class="footer-bg-mob">
<footer class="container ">
<div class="row modules">
 
<section class="block block_category_footer span3">
<h4>Categories</h4>


<ul class="toggle_content list-footer tree dhtml">

            
 <li>
<a href="/" title="">  Ropa</a>
</li>                                
 
    <li>
        <a href="/" title=""> Juguetes </a>
    </li>
    
</ul>


</section>
 
 
<section class="block blockcms_footer span3">
<h4 class="toggle">Information</h4>
<ul class="list-footer toggle_content clearfix">


    <li><a class="other-page-links" href="http://conekta.mx/contactanos"> Contacto</a></li>
    <li><a class="other-page-links" href="http://conekta.mx/api"> Docs</a></li>

    
 </ul>
</section>
 
<section class="bottom_footer">&copy; 2013 Powered by <a target="_blank" href=""> Conekta </a>&trade;</section>  
  
 

<section class="block blockmyaccountfooter span3" style="float:right;">
<img class="footer-logo" src="https://s3.amazonaws.com/conekta/images/logo.png" alt="Infant" width="100"/>
</section>

 
</div>
</footer>
</div>
</div>
</div>
</div>
 
<script>
    var products_array = [];
    conekta.setToken("KDeu5s4hZHRH3eP7eff2");
    var selected_product;
    
    
    var selected_product_id = window.location.hash.split("=")[1];
    
    conekta.display.getProducts({}, function(p){

                                for (var i = 0, l = p.length; i < l; ++i) {
                                
                                if (p[i]) {
                                console.log(p[i].getAttributes());
                                }
                                var id = p[i].getAttributes()["id"];
                                selected_product = p[i];

                                if (id == selected_product_id) {

                                var price = p[i].getAttributes()["price"];
                                price = "$ " + price + " MXN ";
                                var image = p[i].getAttributes()["image"];
                                var title = p[i].getAttributes()["name"];
                                var description = p[i].getAttributes()["description"];
                                
                                $(".product-description").html(description)
                                $(".product-name").html(title)
                                var image = p[i].getAttributes()["image"];
                                $(".product-image").attr("src", image);
                                $(".product-image").attr("rel", image);

                                $(".product-image-link").attr("href", image);
                                
                                $(".product-price").html(price);
                                
                                }
                                
                                }
                                
                                });
    
    
                                $(".item_straight_add").bind("click", function(e) {
                                 // respect quantity
                                 
                                 if (conekta.checkout.getItems().length > 0) {
                                 
                                 conekta.checkout.addItem(selected_product.createItem());
                                 document.location = "carrito1.html"
                                 
                                 } else {
                                                             conekta.checkout.new('order');
                                 conekta.checkout.addItem(selected_product.createItem());
                                 document.location = "carrito1.html"
                                 
                                 }
                                 
                                 });
    
    </script>


</body>
</html>





